 <div class="table-responsive mx-auto px3">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Stage</th>
          <th scope="col">Course of Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" style="background-color: #c3c6d5;">
          <th scope="row">Initial Contact</th>
          <td><ul><li>Following expression of interest in the study, the potential participant is sent additional information on the study details including its purpose and procedures.</li>
           <li>If the potential participant confirms their interest in particpating, email communication to set up interview times will occur and the option for an introductory meeting in addition to the interviews will be offered in addition to the option for a written consent form.</li></ul></td>
        </tr>
        <tr class="table" style="background-color: #bbc1dd">
          <th scope="row">Optional: Introductory Meeting</th>
         <td><ul><li>If an introductory meeting is requested, it will be scheduled at a time that is mutually convenient. Topics to go over will be the format of the participatory elements and any questions that the participant might have from the outset. If the participant expresses continued interest in participating, procedure for procuring verbal consent will occur (see next step).</li></ul></td>
        </tr>
        <tr class="table" style="background-color: #b3bce5">
          <th scope="row">Procuring Consent</th>
         <td><ul><li>If the participant indicated that they would prefer a written consent process, they will be sent a copy of the <a href="https://adoption-records.mxballin.com/objects/written_consent.pdf">Written Consent Form</a> with the request that it be returned to the research team by the first interview session. If the form is not received before the start of the session, the research tem will check in with the individiual and either acquire verbal consent or ensure that the written form is signed before the interview begins.</li>
          <li>If an introductory meeting did not occur, consent will be procured during the first interview session before the interview begins.</li>
          <li>Regardless of whether it is conducted during an introductory meeting or the first session, the process for procuring verbal consent will follow the <a href="https://adoption-records.mxballin.com/objects/oral_consent.pdf">Oral Consent Script</a> and be recorded on Zoom.</li></ul></td>
        </tr>
          <tr class="table" style="background-color: #abb7ed">
          <th scope="row">Follow Up</th>
          <td><ul><li>Following the interview process, it is the goal of the research team to give participants agency in the documentation of their reflection and to keep them informed of the role of their stories in the work.</li>
            <ul style="list-style-type:circle;">
            <li>Participants will be invited to review their transcripts before they are coded and used in the construction of the project's case studies.</li>
           <li>In the spirit of a dialogic interpretive process, following the writing process, participants will be contacted and offered the opportunity to review the written materials and confirm that they are comfortable with what has been written</li></ul></ul></td>
        </tr>
        <tr class="table" style="background-color: #a3b2f5">
          <th scope="row">Publication</th>
          <td><ul><li>Assuming the final thesis is approved, it is the goal of the research team to produce an interactive digital tool that gives back to the participants and the overall community to allow them to explore the research, its products, and related materials that are able to be shared.</li>
           <ul style="list-style-type: circle;"></ul><li>Before the tool is made widely available, participants will be invited to interact with the website and its features and request adjustments to their consent should they have concerns about the public nature of the tool.</li></ul> </td>
        </tr>
      </tbody>
    </table>
    </div>
