<h2 class="text-center">Bootstrap Determination Flowchart</h2>

<div class="container">
  <h2>Step 1: Where is the data?</h2>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead text-center bg-info btn text-info center-block">Is the data in the system?</p>
      <div class="row">
        <div class="col-xs-6 text-center">
          <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
        </div>
        <div class="col-xs-6 text-center">
          <p class="btn">
            <span class="glyphicon glyphicon-arrow-down"></span></p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
      <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>

      <p class="bg-success text-success btn">Okay! Proceed to step 2.</p>
    </div>
    <div class="col-xs-6 text-center">
      <p class="center-block"><span class="btn btn-danger btn-lg">No</span></p>
      <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
      <p class="bg-info text-info btn">Are you willing to put the data into the system?</p>
      <div class="row">
        <div class="col-xs-6 text-center">
          <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
        </div>
        <div class="col-xs-6 text-center">
          <p class="btn">
            <span class="glyphicon glyphicon-arrow-down"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
          <p class="btn">
            <span class="glyphicon glyphicon-arrow-down"></span></p>
          <p class="bg-success text-success btn text-wrap">Okay! After the data is in the system, proceed to step 2.</p>

        </div>
        <div class="col-xs-6 text-center">
          <p class="center-block"><span class="btn btn-danger btn-lg">No</span></p>
          <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
          <p class="btn bg-danger text-danger text-wrap">The data must be in the system to use this service.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Step 2: What type of email is it?</h2>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead text-center bg-info btn text-info center-block">What type of email do you want to send?</p>
      <div class="row">
        <div class="col-xs-6 text-center">
          <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
        </div>
        <div class="col-xs-6 text-center">
          <p class="btn">
            <span class="glyphicon glyphicon-arrow-down"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 text-center">
          <p class="center-block"><span class="btn btn-warning btn-lg">Newsletter</span></p>
          <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
          <p class="center-block bg-info text-info btn">Is it directly related to fundraising?</p>
          <div class="row">
            <div class="col-xs-6 text-center">
              <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
            </div>
            <div class="col-xs-6 text-center">
              <p class="btn">
                <span class="glyphicon glyphicon-arrow-down"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
              <p class="btn">
                <span class="glyphicon glyphicon-arrow-down"></span></p>
              <p class="bg-success text-success btn text-wrap">Okay! You can proceed to step 3. </p>

            </div>
            <div class="col-xs-6 text-center">
              <p class="center-block"><span class="btn btn-danger btn-lg">No</span></p>
              <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
              <p class="btn bg-danger text-danger text-wrap">Content must be directly related to fundraising to use this service.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 text-center">
          <p class="center-block"><span class="btn btn-success btn-lg">Solicitation</span></p>
          <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>

          <p class="bg-success text-success btn">Okay! Proceed to step 3.</p>
        </div>
      </div>

    </div>
  </div>
</div>
