 <div class="table-responsive mx-auto px3">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Stage</th>
          <th scope="col">Course of Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table" style="background-color: #c3c6d5;">
          <th scope="row">Initial Contact</th>
          <td><ul><li>Following expression of interest in the study, the potential participant is sent additional information on the study details (found on this site).</li>
           <li>If potential participant confirms their interest in particpating following review of study details, email communication to set up interview times will occur and the option for an introductory meeting in addition to the interviews will be offered.</li></ul></td>
        </tr>
        <tr class="table" style="background-color: #bbc1dd">
          <th scope="row">Optional: Introductory Meeting</th>
         <td><ul><li>If an introductory meeting is requested, it will be scheduled at a time that is mutually convenient. Topics to go over will be the format of the participatory elements and any questions that the participant might have from the outset. If the participant expresses continued interest in participating, procedure for procuring verbal consent will occur (see next step).</li></ul></td>
        </tr>
        <tr class="table" style="background-color: #b3bce5">
          <th scope="row">Procuring Consent</th>
          <td><ul><li>If an introductory meeting did not occur, consent will be procured during the first interview session before the interview begins.</li><li>Regardless of whether it was conducted during an interoductory meeting or the first session, the process for procuring verbal consent will follow this script.</li></ul></td>
        </tr>
          <tr class="table" style="background-color: #abb7ed">
          <th scope="row">Checking In</th>
          <td>Placeholder text</td>
        </tr>
        <tr class="table" style="background-color: #a3b2f5">
          <th scope="row">Followup</th>
          <td>Placeholder text</td>
        </tr>
      </tbody>
    </table>
    </div>
