<div class="table-responsive mx-auto px3">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Stage</th>
      <th scope="col">Signs/Course of Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table" style="background-color: #d3d2b2;">
      <th scope="row">Distress</th>
      <td>><ul><li>A participant indicates they are experiencing a high level of stress or emotional distress</li><li>A participant exhibits behaviours suggestive that the discussion/interview is too stressful such as uncontrolled crying, shaking etc</li></ul></td>
    </tr>
    <tr class="table" style="background-color: #dddba8">
      <th scope="row">Stage 1 Response</th>
      <td>The government rhetoric around sugar beet farms often depicted them as a "project" that Japanese Canadians volunteered for of their own volition. In reality, this was the only viable alternative to labour camps for families that did not want to be split up, and who had enough members eligible to perform farm work. </td>
    </tr>
	  <tr class="table" style="background-color: #e6e49f">
      <th scope="row">Review</th>
      <td><ul><li>If participant feels able to carry on: continue the interview</li><li>If participant does not feel comfortable with continuing, proceed to Stage 2 Response</li></ul></td>
    </tr>
	    <tr class="table" style="background-color: #efed96">
      <th scope="row">Stage 2 Response</th>
      <td>A 160-kilometre strip along the west coast of British Columbia from which Japanese Canadians were forcibly removed and forbidden from re-entering as of March 1942.</td>
    </tr>
    <tr class="table" style="background-color: #f9f68c">
      <th scope="row">Followup</th>
      <td>A 160-kilometre strip along the west coast of British Columbia from which Japanese Canadians were forcibly removed and forbidden from re-entering as of March 1942.</td>
    </tr>
  </tbody>
</table>
</div>